//- mode - development / production

//- Links 

- var phoneLink = "tel:071130555939"
- var phoneNumber = "0711-305 55 939"
- var mailAdress = "info@schadenservice-hotline.de"
- var impressumLink = "https://schadenservice-hotline.de/impressum"
- var datenLink = "https://schadenservice-hotline.de/datenschutzerklarung"

//- social
- var vkLink = "#"
- var instLink = "#"
- var fbLink = "#"
- var tgLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "./assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "./assets/images/icons/"
- var modulesIco = `/modules/images/icons/`
//- file paths
- var stylesPath = `./assets/styles/main.min.css`
- var scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1170

//- colors 

//- iconset


