.header {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3.0625rem;
        background: white;
    }
    &__logo {
        width: 6.75rem;
    }
    &__place {
        display: none;
    }
    &__phone {
        display: flex;
        align-items: center;
        svg {
            display: block;
            width: 0.9375rem;
            margin-right: 0.4375rem;
            color: #215BFF;
        }
        span {
            font-weight: 500;
            font-size: 0.8125rem;
            color: #1E50F2;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    .header {
        &__row {
            padding: 0 2.1875rem;
            height: 5.1875rem;
        }
        &__logo {
            width: 9.75rem;
        }
        &__place {
            display: flex;
            align-items: center;
            margin-left: 5.725rem;
            img {
                width: 3.5rem;
            }
            span {
                font-weight: 500;
                font-size: 1.3125rem;
                color: #454545;
            }
        }
        &__phone {
            svg {
                display: none;
            }
            span {
                font-size: 1.3125rem;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .header {
        &__row {
            padding: 0;
            height: 5.375rem;
        }
        &__logo {
            width: 12.85rem;
        }
        &__place {
            margin-left: 35.5rem;
            img {
                width: 4.0625rem;
            }
            span {
                font-size: 1.5rem;
            }
        }
        &__phone {
            &:hover {
                span {
                    color: link-hover(#20BC71);
                }
            }
            svg {
            }
            span {
                transition: $transition--hover;
                font-size: 1.5rem;
            }
        }
    }
}